#dashboard {
    background-color: var(--backgroundColor);
    display: grid;
    grid-gap: 10px;
    padding: 15px;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
    grid-template-areas:
        "header status"
        "dBugs status"
        "dBugs feed"
        "dBugs feed"
        "dBugs feed";
    width: 100%;
    max-height: 91.2vh; /* bad solution change */
    color: var(--fontColor);
}

#dashboard #dashboardInfo {
    display: flex;
    align-items: center;
    grid-area: header;
    justify-content: space-between;
}

#dashboard #dashboardInfo h2 {
    border-bottom: 1px solid var(--borderBottomColor);
    margin-right: 5px;
}

#dashboard #dashboardTitle {
    display: flex;
    align-items: center;
}

#dashboard #dashboardInfo #dashboardSearch {
    display: flex;
    align-items: center;
    background-color: var(--searchBack);
    padding: 5px 10px;
    border-radius: 8px;
}

#dashboard #dashboardInfo #dashboardSearch input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-family: var(--monospace);
    color: var(--fontColor);
}

#dashboard #dashboardInfo #dashboardSearch input:focus {
    outline: none;
}

#dashboard #dashboardInfo #dashboardSearch input::placeholder {
    color: var(--fontColor);
}
#dashboard #dashboardInfo #dashboardSearch input:-ms-input-placeholder {
    color: black;
}
#dashboard #dashboardInfo #dashboardSearch input::-ms-input-placeholder {
    color: black;
}

#dashboard #dashboardInfo #dashboardSearch img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    filter: var(--svgFilter);
}

/* table */

#dashboard #dashboardBugs {
    grid-area: dBugs;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--insetBoxShadow);
    overflow-y: auto;
    position: relative;
}

#dashboard #dashboardBugs::-webkit-scrollbar-track {
    background-color: transparent;
}

#dashboard #dashboardBugs::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#dashboard #buttonPlacementDiv{
    grid-area: dBugs;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
    position: relative;
}

#dashboard #submitBugPopup {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px var(--borderBottomColor);
    background-color: var(--backgroundColor);
    border-radius: 8px;
    z-index: 9999;
}

#dashboard #buttonPlacementDiv button {
    position: sticky;
    width: 18ch;
    display: flex;
    flex-direction: row;
    padding: 5px 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background-color: var(--buttonColorDarkGreen);
    color: white;
    transition: 0.2s ease;
    font-weight: 600;
    align-self: flex-end;
    bottom: 0%;
    right: 0%;
    z-index: 999;
}

#dashboard #buttonPlacementDiv button:hover {
    background-color: var(--buttonColorDarkGreenHover);
}

#dashboard #buttonPlacementDiv button img {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    filter: brightness(0) invert(1);
}

#dashboard #dashboardBugs table {
    font-size: 1rem;
    border-collapse: collapse;
    z-index: 99;
}

#dashboard #dashboardBugs table tr {
    border-bottom: 1px solid var(--borderBottomColorLight);
    transition: 0.2s ease;
}

#dashboard #dashboardBugs table tr:first-of-type {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}
#dashboard #dashboardBugs table td:nth-of-type(2) {
    min-width: 30vw;
}

#dashboard #dashboardBugs table tr:last-of-type {
    border-bottom: none;
}

#dashboard #dashboardBugs table tr:first-of-type:hover {
    background-color: transparent;
    cursor:alias;
}

#dashboard #dashboardBugs table tr:hover {
    background-color: var(--tableHover);
}

#dashboard #dashboardBugs table td {
    padding: 5px 8px;
    cursor: pointer;
}

#dashboard #dashboardBugs table td:first-of-type {
    width: 8ch;
}

#dashboard #dashboardBugs table td:last-of-type {
    width: 13ch;
}

#dashboard #dashboardBugs .status {
    padding: 3px;
    font-size: 0.6rem;
    font-weight: 600;
    display: flex;
    background-color: var(--dashBackground);
    border-radius: 8px;
    justify-content: center;
    text-transform: uppercase;
}

#dashboard #dashboardBugs .open .status {
    background-color: var(--openBug);
    color: var(--openFont);
}

#dashboard #dashboardBugs .closed .status {
    background-color: var(--closeBug);
    color: var(--closeFont);
}

#dashboard .priority {
    font-size: 0.6rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 0);
    width: 5ch;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    padding: 4px 5px;
    margin: auto;
}

#dashboard .low .priority {
    background-color: var(--priorityLow);
}

#dashboard .med .priority {
    background-color: var(--priorityMed);
}

#dashboard .high .priority {
    background-color: var(--priorityHigh);
}

/* bug status */

#dashboard #dashboardStats {
    grid-area: status;
}

#dashboard #dashboardStatus {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

#dashboard #dashboardStatus li {
    background-color: var(--dashBackground);
    padding: 10px 5px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

#dashboard #dashboardStatus li:hover {
    opacity: 0.75;
}

#dashboard #dashboardStatus #openStatus {
    background-color: var(--statusOpen);
    color: var(--statusOpenFont);
}

#dashboard #dashboardStatus #closeStatus {
    background-color: var(--statusClose);
    color: var(--statusCloseFont);
}

#dashboard #dashboardStatus #overStatus {
    background-color: var(--statusOver);
    color: var(--statusOverFont);
}

#dashboard #dashboardStatus #dayStatus {
    background-color: var(--statusDay);
    color: var(--statusDayFont);
}

#dashboard #dashboardStatus #weekStatus {
    background-color: var(--statusWeek);
    color: var(--statusWeekFont);
}



/* feed */

#dashboard #dashboardFeed {
    grid-area: feed;
    display: flex;
    flex-direction: column;
}

#dashboard #dashboardFeed #dashboardFeedText {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: var(--insetBoxShadow);
    border-radius: 12px;
    padding: 15px;
    overflow-y: auto;
}

#dashboard #dashboardFeed #dashboardFeedText::-webkit-scrollbar {
    width: 0;
}

#dashboard #dashboardFeed #dashboardFeedText::-webkit-scrollbar-track {
    background-color: transparent;
}

#dashboard #dashboardFeed #dashboardFeedText::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#dashboard #dashboardFeed #dashboardFeedText .feedItem {
    margin: 5px 0;
    align-items: center;
}

#dashboard #dashboardFeed #dashboardFeedText .feedItem .updateTime {
    font-size: 0.6rem;
    opacity: 0.5;
    font-weight: 600;
}

#dashboard #dashboardFeed #dashboardFeedText .feedItem > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}