#newTeam{
    background-color: var(--backgroundColor);
    color: var(fontColor);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#newTeam > h1{
    display: flex;
    justify-content: center;
}

#newTeam #teamOpt{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#newTeam  #teamOpt > div{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px black;
    margin: 10px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
}

#newTeam .textSearch{
    height: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    height: 30px;
    width: max-content;
    background-color: rgb(228, 228, 228);
}
#newTeam .textSearch button{
    width: 30px;
    padding: 3px 5px;
    border: hidden;
    background-color: var(--green);
    cursor: pointer;
    
}
#newTeam .textSearch button img{
    filter: brightness(0) invert(1);
    text-align: center;
    padding-top: 5px;
}



#teamFound{
    height: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

#newTeam .team{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 10px;
    align-items: center;
}
#newTeam .team h3{
    font-weight: 500;
}
#newTeam .team button{
    font-weight: 500;
    background-color: var(--green);
    border: none;
    color: white;
    padding: 5px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

#newTeam #createTeam form > *{
    margin-top: 10px;
}
#newTeam #createTeam .formField{
    width: max-content;
    padding: 5px 0;
    align-items: center;
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
}

#newTeam #createTeam button{
    background-color: var(--green);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    
}

#newTeam #createTeam button img{
    height: 16px;
    width: 16px;
    margin-left: 4px;
    filter: brightness(0) invert(1);
}

.CustomInput {
    width: 30ch;
    padding: 0 5px;
    height: 24px;
    font-family: var(--monospace);
    font-size: 1.3rem;
    border: hidden;
    background-color: transparent;
}

.CustomInput:focus {
    outline: none;
}

.CustomInput::placeholder {
    color: rgb(90, 90, 90);
}

#createAndInvitations{
    justify-content: space-between;
}
#createAndInvitations #invitations{
    height: 40%;
}