#bug{
    padding: 20px;
}

#bug #bugUpper #bugInfo{
    display: flex;
    align-items: center;
}

#bug #bugInfo span:first-of-type{
    margin: 0 5px;
}

#bug #bugUpper #bugInfo p{
    font-size: .8rem;
    opacity: .8;
}

#bug #bugUpper #bugInfo #due {
    opacity: .8;
    font-size: .8rem;
    margin-right: 10px;
}

#bug #identifiers{
    display: flex;
}

#bug #identifiers > *{
    margin: 0 2px;   
}


#bug #identifiers .low {
    background-color: green;
    
}

#bug #identifiers .med {
    background-color: rgb(172, 117, 0);
}

#bug #identifiers .high {
    background-color: rgb(170, 0, 0);
}

#bug #bugTitleStuff{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bugTitleDiv{
    display: flex;
    align-items: center;
}

#bug #bugButtons{
    display: flex;
    align-items: center;   
}


#bug #bugButtons #notify{
    display: flex;
    
}

#bug #bugButtons #notify img{
    height: 18px;
    width: 18px;
}

#bug #bugButtons button{
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: var(--green);
    font-weight: 600;
    color: white;
    cursor: pointer;
    min-width: 30px;
    margin-left: 5px;
}

#bug #bugTitle{
    margin-right: 5px;
}

#bug #bugDescDiv{
    padding: 5px 0;
    
}

#bug #assigned #assignedText{
    display: flex;
}
#bug #assigned #assignedText h4{
    margin-right: 5px;
}
#bug #assigned #assignedText #assignedUsers span{
    margin-left: 2px;
}

#bug #assigned #assignedButtons{
    display: flex;
}
#bug #assigned #assignedButtons button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: .7;
    margin-right: 10px;
}
#bug #assigned #assignedButtons img{
    height: 14px;
    width: 14px;
    margin-right: 3px;
}

#bug #addComment {
    box-shadow: 0px 0px 5px black;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 6px;
}

#bug #addComment button{
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

#bug #addComment textarea{
    resize: none;
    height: 100px;
    width: 50ch;
    border: none;
    padding: 10px;
}

#bug #addComment textarea:focus{
    outline: none;
}

#bug #comments .comment{
    padding: 5px 0 0 10px;
    border-left: 1px solid rgb(207, 207, 207);
}

#bug #comments .comment .commentAuthorInfo{
    display: flex;
    align-items: center;
}

#bug #comments .comment .commentAuthorInfo > *{
    margin-right: 10px;
}
#bug #comments .comment .commentAuthorInfo .postDate{
    font-size: .8rem;
    opacity: .8;
}