/* General */

#console {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#console nav ul li {
    margin: 0 10px;
}

/* Nav */

#console nav img {
    height: 36px;
    width: 36px;
    filter: invert(1);
    margin-right: 10px;
}

#console nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: var(--darkBlue);
}

#console nav li a {
    color: white;
    text-decoration: none;
}

#console nav > * {
    display: flex;
    align-items: center;
}

#console ul {
    display: flex;
    list-style: none;
}

#console #notificationsItem{
    position: relative;
}

#console #notificationsItem img{
    margin: 0;
    height: 24px;
    width: 24px;
}

#console #notificationsItem #notification{
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: 0;
    right: -5px;
    background-color: #00191d;
    color: white;
    font-size: .6rem;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
}

#console #user #avatar {
    height: 24px;
    width: 24px;
    display: block;
    background-image: url("./res/svg/user.svg");
    background-color: white;
    border-radius: 50%;
}

/* screen */

#console #screen {
    display: flex;
    flex-grow: 1;
}

/* Side Nav */
#console #sideNav {
    background-color: #001316;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px 5px 10px black; /* box shadow maybe */
}

#console #sideNav ul {
    display: flex;
    flex-direction: column;
    
}

#console #sideNav ul li {
    padding: 5px;
    transition: .2s ease;
}

#console #sideNav ul li:hover{
    background-color: #00252b;
}

#console #sideNav ul li a {
    margin: 5px 0;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#console #sideNav ul li a {
    text-align: center;
}

#console #sideNav ul li a img {
    height: 30px;
    width: 30px;
    filter: brightness(0) invert(1);
}

#console #sideNav ul li a p {
    font-size: 0.6rem;
}
